{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">添加</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <input type="hidden" name="id" value="{$id}">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="title" lay-verify="required" value="{$data.title}" autocomplete="off"
                           placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发布时间</label>
                <div class="layui-input-inline w300">
                    <input type="text" id="releasetime" name="releasetime" value="{$data.releasetime}"
                           autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">市</label>
                <div class="layui-input-inline w300">
                    <select name="city" id="city" lay-filter="city" lay-verify="required">
                        <option value>选择市</option>
                        {$citys|raw}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">区</label>
                <div class="layui-input-inline w300">
                    <select name="area" id="area" lay-verify="required">
                        <option value>选择区</option>
                        {$areas|raw}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div style="width:50%" class="layui-input-inline" lay-verify-msg="必选项不能为空" lay-verify="mustradio">
                    <input type="radio" name="category" autocomplete="off" placeholder="" class="layui-input" value="1"  {if condition="$data.category eq 1 " } checked {/if}>
                    写字楼出租
                    <input type="radio" name="category" autocomplete="off" placeholder="" class="layui-input" value="2" {if condition="$data.category eq 2 " } checked {/if}>
                    写字楼出售
                    <!--<input type="radio" name="category" autocomplete="off" placeholder="" class="layui-input"  value="3">仓库出租-->
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">总面积</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="measurearea" lay-verify="required" value="{$data.measurearea}"
                           autocomplete="off" placeholder="" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">平方</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">写字楼价格</label>
                <div style="width:15%" class="layui-input-inline">
                    <input name="plantrent" type="text" class="layui-input" placeholder="" autocomplete="off"
                           value="{$data.plantrent}" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">管理费</label>
                <div style="width:15%" class="layui-input-inline">
                    <input name="managementfee" type="text" class="layui-input" id="managementfee" placeholder=""
                           autocomplete="off" value="{$data.managementfee}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">装修情况</label>
                <div style="width:15%" class="layui-input-inline">
                    <input name="decoration" type="text" class="layui-input" placeholder="" autocomplete="off"
                           value="{$data.decoration}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">楼层</label>
                <div style="width:15%" class="layui-input-inline">
                    <input type="text" name="floor" lay-verify="required" autocomplete="off" placeholder="请输入楼层"
                           class="layui-input" value="{$data.floor}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">楼层类型</label>
                <div class="layui-input-block" style="width:15%">
                    <select name="floor_type" lay-verify="required">
                        <option value="0">未知</option>
                        <option value="1" {if $data.floor_type==1}selected="selected"{/if}>一楼</option>
                        <option value="2" {if $data.floor_type==2}selected="selected"{/if}>楼上</option>
                        <option value="3" {if $data.floor_type==3}selected="selected"{/if}>独栋</option>
                        <option value="4" {if $data.floor_type==4}selected="selected"{/if}>独院</option>
                    </select>
                </div>
            </div>
            <!--标签  1 可注册 2整栋 3可分割 4 带装修-->
            <div class="layui-form-item">
                <label class="layui-form-label">标签</label>
                <div class="layui-input-block" style="width:15%">
                    <select name="tag" lay-verify="required">
                        <option value="0">无</option>
                        <option value="1" {if $data.tag==1}selected="selected"{/if}>可注册</option>
                        <option value="2" {if $data.tag==2}selected="selected"{/if}>整栋</option>
                        <option value="3" {if $data.tag==3}selected="selected"{/if}>可分割</option>
                        <option value="4" {if $data.tag==4}selected="selected"{/if}>带装修</option>
                    </select>
                </div>
            </div>
            <!--行业类型 1 纯写字楼 2 商业综合体 3 商务公寓 4 商务酒店 5厂房办公-->
            <div class="layui-form-item">
                <label class="layui-form-label">行业类型</label>
                <div class="layui-input-block" style="width:15%">
                    <select name="indus_type" lay-verify="required">
                        <option value="0">未知</option>
                        <option value="1" {if $data.indus_type==1}selected="selected"{/if}>纯写字楼</option>
                        <option value="2" {if $data.indus_type==2}selected="selected"{/if}>商业综合体</option>
                        <option value="3" {if $data.indus_type==3}selected="selected"{/if}>商务公寓</option>
                        <option value="4" {if $data.indus_type==4}selected="selected"{/if}>商务酒店</option>
                        <option value="5" {if $data.indus_type==5}selected="selected"{/if}>厂房办公</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否分割</label>
                <div style="width:50%" class="layui-input-inline" lay-verify-msg="必选项不能为空" lay-verify="mustradio">
                    <input type="radio" name="is_sep" autocomplete="off" placeholder="" class="layui-input" value="0"
                           {if condition="$data.type eq 0 " } checked {/if}>
                    否
                    <input type="radio" name="is_sep" autocomplete="off" placeholder="" class="layui-input" value="1"
                           {if condition="$data.type eq 1 " } checked {/if}>
                    是
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">付款方式</label>
                <div style="width:15%" class="layui-input-inline">
                    <input type="text" name="pay_type" lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input" value="{$data.pay_type}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">使用年限</label>
                <div style="width:15%" class="layui-input-inline">
                    <input type="text" name="use_year" lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input" value="{$data.use_year}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">级别</label>
                <div style="width:15%" class="layui-input-inline">
                    <input type="text" name="level" lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input" value="{$data.level}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证件</label>
                <div style="width:15%" class="layui-input-inline">
                    <input type="text" name="card" lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input" value="{$data.card}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">其他</label>
                <div style="width:15%" class="layui-input-inline">
                    <input type="text" name="other" lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input" value="{$data.other}">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="name" lay-verify="required" value="{$data.name}" autocomplete="off"
                           placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="tel" lay-verify="required" value="{$data.tel}" autocomplete="off"
                           placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">详情</label>
                <div style="width:80%" class="layui-input-inline">
                    <div id="editor">
                        <p>{$data.detail|raw}</p>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" hidden>
                <label class="layui-form-label">详情</label>
                <div style="width:80%" class="layui-input-inline">
                                    <textarea id="detail-detail" name="detail" rows="10" class="layui-input"
                                              placeholder="" lay-verify="required"
                                              autocomplete="off"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline w300" lay-verify-msg="必选项不能为空" lay-verify="mustradio">
                    <input type="radio" name="type" value="1" autocomplete="off" placeholder="" class="layui-input" {if
                           condition="$data.type eq 1 " } checked {/if} >推荐
                    <input type="radio" name="type" value="2" autocomplete="off" placeholder="" class="layui-input" {if
                           condition="$data.type eq 2 " } checked {/if} >火爆
                </div>
            </div>
            <!--            <div class="layui-form-item">-->
            <!--                <label class="layui-form-label">标签</label>-->
            <!--                <div class="layui-input-inline w300">-->
            <!--                    <input type="text" name="tag" autocomplete="off" value="{$data.tag}" placeholder=""-->
            <!--                           class="layui-input">-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">图片</label>
                <div class="layui-input-inline w300">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="test2">多图片上传</button>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            预览图：
                            {if condition="$data.imgs"}
                            <div class="layui-upload-list" id="demo3">
                                {volist name="$data.imgs" id="vo"}
                                <img src="{$vo}" class="layui-upload-img"/>
                                {/volist}
                            </div>
                            {/if}
                            <div class="layui-upload-list" id="demo2"></div>
                        </blockquote>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="formSubmit">立即提交</button>
                            <button class="layui-btn layui-btn-normal" type="button"
                                    onclick="javascript:history.back(-1);">返回
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
{/block}
{block name="script"}
<script src="__STATIC__/admin/edit/wangEditor.js"></script>
<script src="__STATIC__//admin/js/editor.js"></script>
<script type="text/javascript">
    layui.use(['iconPicker', 'form', 'layer'], function () {
        var iconPicker = layui.iconPicker,
            form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        iconPicker.render({
            elem: '#iconPicker4',
            type: 'fontClass'
        });
        $("#city option[value='" + {$data.city} + "']").attr("selected", "selected");
        $("#area option[value='" + {$data.area} + "']").attr("selected", "selected");
        form.render('select');

        iconPicker.render({
            // 选择器，推荐使用input
            elem: '#iconPicker',
            // 数据类型：fontClass/unicode，推荐使用fontClass
            type: 'fontClass',
            // 是否开启搜索：true/false，默认true
            search: true,
            // 是否开启分页：true/false，默认true
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
                console.log(data);
            },
            // 渲染成功后的回调
            success: function (d) {
                console.log(d);
            }
        });
        form.verify({
            mustradio: function (value, item) { //单选按钮必选
                var va = $(item).find("input[type='radio']:checked").val();
                if (typeof (va) == "undefined") {
                    return $(item).attr("lay-verify-msg");
                }
            }
        });
        form.on('select(city)', function (data) {
            var val = data.value;

            $.ajax({
                url: "/admin/area/getByParentId", //请求的url地址
                dataType: "json", //返回格式为json
                async: true,//请求是否异步，默认为异步，这也是ajax重要特性
                data: {"id": data.value}, //参数值
                type: "GET", //请求方式
                beforeSend: function () {
                    //请求前的处理
                },
                success: function (req) {
                    var data = req.data;
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        $("#area").append('<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>');
                    }
                    form.render('select');
                    //请求成功时处理
                },
                complete: function () {
                    //请求完成的处理
                },
                error: function () {
                    //请求出错处理
                }
            });

        });
    });
</script>
<script>
    layui.use(['upload', 'laydate'], function () {
        var $ = layui.jquery
        laydate = layui.laydate
            , upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/upload/'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        //多图片上传
        upload.render({
            elem: '#test2'
            , url: '/admin/upload/imgs'
            , multiple: true
            , accept: 'file'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                });
            }
            , done: function (res) {
                console.log(res);
                if (res.code == 1) {
                    $('form').append('<input type="hidden" name="imgs[]" value="' + res.photo + '"  autocomplete="off" placeholder="" class="layui-input">');
                }

                //上传完毕
            }
        });

        //指定允许上传的文件类型
        upload.render({
            elem: '#test3'
            , url: '/upload/'
            , accept: 'file' //普通文件
            , done: function (res) {
                console.log(res)
            }
        });
        upload.render({ //允许上传的文件后缀
            elem: '#test4'
            , url: '/upload/'
            , accept: 'file' //普通文件
            , exts: 'zip|rar|7z' //只允许上传压缩文件
            , done: function (res) {
                console.log(res)
            }
        });
        upload.render({
            elem: '#test5'
            , url: '/upload/'
            , accept: 'video' //视频
            , done: function (res) {
                console.log(res)
            }
        });
        upload.render({
            elem: '#test6'
            , url: '/upload/'
            , accept: 'audio' //音频
            , done: function (res) {
                console.log(res)
            }
        });

        //设定文件大小限制
        upload.render({
            elem: '#test7'
            , url: '/upload/'
            , size: 60 //限制文件大小，单位 KB
            , done: function (res) {
                console.log(res)
            }
        });

        //同时绑定多个元素，并将属性设定在元素上
        upload.render({
            elem: '.demoMore'
            , before: function () {
                layer.tips('接口地址：' + this.url, this.item, {tips: 1});
            }
            , done: function (res, index, upload) {
                var item = this.item;
                console.log(item); //获取当前触发上传的元素，layui 2.1.0 新增
            }
        })

        //选完文件后不自动上传
        upload.render({
            elem: '#test8'
            , url: '/upload/'
            , auto: false
            //,multiple: true
            , bindAction: '#test9'
            , done: function (res) {
                console.log(res)
            }
        });

        //拖拽上传
        upload.render({
            elem: '#test10'
            , url: '/upload/'
            , done: function (res) {
                console.log(res)
            }
        });

        //多文件列表示例
        var demoListView = $('#demoList')
            , uploadListIns = upload.render({
            elem: '#testList'
            , url: '/upload/'
            , accept: 'file'
            , multiple: true
            , auto: false
            , bindAction: '#testListAction'
            , choose: function (obj) {
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function (index, file, result) {
                    var tr = $(['<tr id="upload-' + index + '">'
                        , '<td>' + file.name + '</td>'
                        , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                        , '<td>等待上传</td>'
                        , '<td>'
                        , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        , '</td>'
                        , '</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function () {
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function () {
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            , done: function (res, index, upload) {
                if (res.code == 0) { //上传成功
                    var tr = demoListView.find('tr#upload-' + index)
                        , tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            , error: function (index, upload) {
                var tr = demoListView.find('tr#upload-' + index)
                    , tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

        //绑定原始文件域
        upload.render({
            elem: '#test20'
            , url: '/upload/'
            , done: function (res) {
                console.log(res)
            }
        });
        laydate.render({
            elem: '#releasetime' //指定元素
            , type: 'datetime'
        });
    });
</script>
{/block}
