{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">管理</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="table" lay-filter="table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                <a class="layui-btn layui-btn-sm" href="{:url('add')}">添加</a>
              </div>
            </script>
            <script type="text/html" id="barTool">

                <a href='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs">编辑</a>
                <a href='{:url("del")}?id={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
            </script>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('table', function() {
    var table = layui.table,
        $ = layui.$;
    table.render({
        elem: '#table',
        toolbar: '#toolbarDemo',
        url: '{:url("index")}',
        cols: [
            [
                { field: 'id', width: 50, title: 'ID'},
                { field: 'title', width: 200, title: '标题' },
                { field: 'address',width: 200, title: '地址' },
                { field: 'city_name', width: 80, title: '城市'},
                { field: 'area_name', width: 80, title: '区域'},
                { field: 'category_name', width: 80, title: '租/售'},
                { field: 'measurearea', width: 80, title: '建筑面积'},
                { field: 'single_area',  width: 50, title: '单层面积' },
                { field: 'name', width: 80, title: '联系人'},
                { field: 'tel',width: 80, title: '电话' },
                { field: 'floor_type_name',  width: 50,title: '楼层类型' },
                { field: 'structure_name', width: 200, title: '结构' },
                { field: 'toward',width: 50, title: '朝向' },
                { field: 'fit_up', width: 100, title: '装修情况'},
                { field: 'build_year', width: 80, title: '建筑年代'},
                { field: 'floor', width: 120, title: '楼层'},
                { field: 'certify', title: '证件'},
                { field: 'price', width: 200, title: '价格'},
                { field: 'releasetime',width: 200, title: '发布时间'},
                { fixed: 'right', width: 160, title: '操作', toolbar: '#barTool' }
            ]
        ],
    });
});
</script>
{/block}
