{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">管理</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="table" lay-filter="table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                <a class="layui-btn layui-btn-sm" href="{:url('add')}">添加</a>
              </div>
            </script>
            <script type="text/html" id="barTool">

                <a href='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs">编辑</a>
                <a href='{:url("del")}?id={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
            </script>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('table', function() {
    var table = layui.table,
        $ = layui.$;
    table.render({
        elem: '#table',
        toolbar: '#toolbarDemo',
        url: '{:url("index")}',
        cols: [
            [
                { field: 'id', width: 80, title: 'ID'},
                { field: 'title', width: 80, title: '标题'},
                { field: 'land_use', width: 120, title: '使用年限'},
                { field: 'releasetime',width: 200, title: '发布时间' },
                { field: 'type', width: 200, title: '租/售' },
                { field: 'measurearea', width: 200, title: '面积' },
                { field: 'price', width: 200, title: '价格' },
                { field: 'name', width: 200, title: '联系人' },
                { field: 'tel', width: 200, title: '电话' },
                { field: 'land_type', width: 200, title: '土地性质' },
                { field: 'land_card', width: 200, title: '土地证' },
                { fixed: 'right', width: 160, title: '操作', toolbar: '#barTool' }
            ]
        ],
    });
});
</script>
{/block}
