{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">管理</div>
    <div class="layui-card-body">
        <div class="layui-form">
            <table class="layui-hide" id="table" lay-filter="table"></table>
            <script type="text/html" id="toolbarDemo">

            </script>
            <script type="text/html" id="barTool">

                <a href='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs">编辑</a>

            </script>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">

    layui.use('table', function () {
        var table = layui.table,
            $ = layui.$;
        table.render({
            elem: '#table',
            toolbar: '#toolbarDemo',
            url: '{:url("index")}',
            page: true,
            cols: [
                [
                    {field: 'id', title: 'ID'},
                    {field: 'title', title: '标题'},
                    {field: 'sort', title: '权重'},
                    {field: 'pic_path', title: '图片路径'},
                    {field: 'is_enable', title: '是否启用'},
                    {field: 'create_at', title: '创建时间'},
                    {field: 'update_at', title: '更新时间'},
                    {fixed: 'right', title: '操作', toolbar: '#barTool'}
                ]
            ],
        });
    });
</script>
{/block}
