<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit" />
    <title>{:config('web_site_title')}</title>
    <meta name="keywords" content="{:config('web_site_keywords')}"/>
    <meta name="description" content="{:config('web_site_description')}"/>
    <link rel="icon" href="/static/mobile/image/favicon.ico">
    <link href="/static/mobile/style/index.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/mobile/script/jquery-1.7.1.min.js"></script>
</head>

<body>
<div class="wal" id="app">
    <!--wal-->
    <div class="g-headD"></div>
    <div class="g-head">
        <div class="wal">
            <div class="btn btn-left"><a href="/static/mobile/javascript:window.history.go(-1);" class="back"></a></div>
            <h2>关于我们</h2>
            <div class="btn btn-right">
                <a href="/static/mobile/javascript:;" class="search"></a>
                <a href="/static/mobile/javascript:;" class="nav"></a>
            </div>
        </div>
    </div>
    {include file="layout/search" /}
    {include file="layout/nav" /}

    <div><img src="/static/mobile/image/demand_1.jpg" alt=""></div>

    <div class="about-1">
        <div class="about-title">
            <h2>网站简介</h2>
        </div>
        <div class="content">
            {$contact.detail|raw}
        </div>
    </div>


    {include file="layout/foot" /}
    <!--wal-END-->
</div>
</body>
</html>

<link rel="stylesheet" href="/static/mobile/script/swiper/swiper-3.4.2.min.css">
<script type="text/javascript" src="/static/mobile/script/swiper/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/static/mobile/script/js.js"></script>
<script type="text/javascript">
    $(function(){
        swiperFun({
            dom: $('.indexFlash')
        });

        new tabFun({dom: $('.index-1'), curr: 0})
    })
</script>