<a href="javascript:;" class="topA"><img src="/static/mobile/image/homepage_icon_return_top.png" alt=""></a>
<div class="g-foot">
    <div class="tel">
        <a href="tel:4008863806">
            <img src="/static/mobile/image/bottom_phone_icon.png" alt="">
            <div>
                <span>{:config('web_site_tel')}</span>
                <p>点击拨打免费咨询</p>
            </div>
        </a>
    </div>
    <div class="link"><a href="/about">关于我们</a></div>
    <p>粤ICP备19115088号</p>
    <p>广东厂房网 版权所有</p>
    <p>东莞市众鑫房地产投资有限公司 版权所属</p>
</div>
