<div class="g-nav">
    <div class="wal">
        <div class="head">
            <div><img src="/static/mobile/image/navigation_banner.png" alt=""></div>
            <a href="javascript:;" class="close"></a>
        </div>
        <div class="index-nav">
            <ul>
                <li>
                    <a href="/workshop/1">
                        <img src="/static/mobile/image/homepage_ic_navigation_plant.png" alt="">
                        <p>厂房出租</p>
                    </a>
                </li>
                <li>
                    <a href="/workshop/2">
                        <img src="/static/mobile/image/homepage_ic_office_building.png" alt="">
                        <p>厂房出售</p>
                    </a>
                </li>

                <li>
                    <a href="/workshop/3">
                        <img src="/static/mobile/image/homepage_ic_cangku.png" alt="">
                        <p>仓库出租</p>
                    </a>
                </li>
                <li>
                    <a href="/land">
                        <img src="/static/mobile/image/homepage_ic_land.png" alt="">
                        <p>土地租售</p>
                    </a>
                </li>
                <li>
                    <a href="/park">
                        <img src="/static/mobile/image/homepage_ic_special.png" alt="">
                        <p>园区招商</p>
                    </a>
                </li>
                <li>
                    <a href="/of_build">
                        <img src="/static/mobile/image/homepage_ic_garden.png" alt="">
                        <p>写字楼</p>
                    </a>
                </li>
                <li>
                    <a href="/shop">
                        <img src="/static/mobile/image/homepage_ic_broker.png" alt="">
                        <p>商铺租售</p>
                    </a>
                </li>
                <li>
                    <a href="/home_list">
                        <img src="/static/mobile/image/homepage_ic_investment.png" alt="">
                        <p>民宅租售</p>
                    </a>
                </li>

            </ul>
        </div>
        <div class="nav">
            <ul>
                <li><a href="index.html"><img src="/static/mobile/image/navigation_ic_homepage.png" alt=""><span>首页</span></a></li>
                <li><a href="about.html"><img src="/static/mobile/image/navigation_ic_us.png" alt=""><span>关于我们</span></a></li>
                <li><a href=""><img src="/static/mobile/image/navigation_ic_group.png" alt=""><span>联系我们</span></a></li>
            </ul>
        </div>
    </div>
</div>