<div class="g-nav">
    <div class="wal">
        <div class="head">
            <div><img src="/static/mobile/image/navigation_banner.png" alt=""></div>
            <a href="javascript:;" class="close"></a>
        </div>
        {include file="layout/index-nav" /}
        <div class="nav">
            <ul>
                <li><a href="/"><img src="/static/mobile/image/navigation_ic_homepage.png" alt=""><span>首页</span></a></li>
                <li><a href="/about"><img src="/static/mobile/image/navigation_ic_us.png" alt=""><span>关于我们</span></a></li>
                <li><a href="/concat"><img src="/static/mobile/image/navigation_ic_group.png" alt=""><span>联系我们</span></a></li>
            </ul>
        </div>
    </div>
</div>