.demandBanner{
    height: 4rem;
}
.demandBanner .switch{
    position: absolute;
    top: 0.4rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 100;
    
    overflow: hidden;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;
}
.demandBanner .switch a{
    font-size: 0.28rem;
    color: #dd2534;
    line-height: 0.6rem;
    width: 1.8rem;
    border: 1px solid #dd2534;
    float: left;
    text-align: center;

}
.demandBanner .switch a.focus{
    background-color: #dd2534;
    color: #fff;
}
.demandBanner .txt{
    width: 100%;
    left: 0;
    top: initial;
    bottom: 0.92rem;
}
.demandBanner .txt p{
    font-size: 0.4rem;
    color: #FFF;
    text-align: center;
    line-height: 0.56rem;
    text-shadow: 0 0.02rem 0.04rem rgba(0,0,0,0.50);
    margin-top: 0.04rem;
}
.demandBanner1 .txt{
    bottom: 1.53rem;
}
.demandBanner1 .txt p{
    margin-top: 0;
}
.demandBox .regNum p{
    color: #FFF;
    text-shadow: 0 0.02rem 0.04rem rgba(0,0,0,0.50);
}
