<div class="navbox">
    <div class="container">
        <div class="nav">
            <ul>
                <li class=""><a href="/" class="menubox"><span>首页</span></a></li>
                <li class="current"><a
                        href="/index/search/workshop?city={$cityInfo[0]['id']}&category=1"
                        class="menubox"><span>厂房出租</span></a></li>
                <li class=""><a href="/index/search/workshop?city={$cityInfo[0]['id']}&category=2"
                                class="menubox"><span>厂房出售</span></a></li>
                <li class=""><a href="/index/search/workshop?city={$cityInfo[0]['id']}&category=3"
                                class="menubox"><span>仓库出租</span></a></li>
                <li class=""><a href="/index/search/workshop?city={$cityInfo[0]['id']}&category=1"
                                class="menubox"><span>土地</span></a></li>
                <li class=""><a href="/index/search/officebuilding?city={$cityInfo[0]['id']}"
                                class="menubox"><span>写字楼</span></a></li>
                <li class=""><a href="/index/search/workshop?city={$cityInfo[0]['id']}&category=1"
                                class="menubox"><span>园区招商</span></a></li>
                <li class=""><a href="/index/search/workshop?city={$cityInfo[0]['id']}&category=1"
                                class="menubox"><span>私宅商铺</span></a></li>

                <li class=""><a href="/index/publish/customer" class="menubox"
                                target="_blank"><span>求租求购</span></a></li>

            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {

        var site_url = window.location.href.toLowerCase(),
            current_domain = window.document.domain;
        if(site_url == 'http://' + current_domain + '/'){
            $(".nav li").attr("class", "");
            $(".nav li").eq(0).attr("class", "current");
        }else if(site_url.indexOf("index/search/workshop") > 0 && site_url.indexOf("category=1") > 0){
            $(".nav li").attr("class", "");
            $(".nav li").eq(1).attr("class", "current");
        } else if(site_url.indexOf("index/search/workshop") > 0 && site_url.indexOf("category=2") > 0){
            $(".nav li").attr("class", "");
            $(".nav li").eq(2).attr("class", "current");
        }else if(site_url.indexOf("index/search/workshop") > 0 && site_url.indexOf("category=3") > 0){
            $(".nav li").attr("class", "");
            $(".nav li").eq(3).attr("class", "current");
        }
        // switch (site_url) {
        //     case site_url == 'http://' + current_domain + '/' :
        //         $(".nav li").attr("class", "");
        //         console.log(1);
        //         $(".nav li").eq(0).attr("class", "current");
        //         break;
        //     case (site_url.indexOf("index/search/workshop") > 0 && site_url.indexOf("category=1") > 0):
        //         $(".nav li").attr("class", "");
        //         console.log(1);
        //         $(".nav li").eq(1).attr("class", "current");
        //         break;
        //     case (site_url.indexOf("index/search/workshop") > 0 && site_url.indexOf("category=2") > 0) :
        //         $(".nav li").attr("class", "");
        //         console.log(1);
        //         $(".nav li").eq(2).attr("class", "current");
        //         break;
        //     case (site_url.indexOf("index/search/workshop") > 0 && site_url.indexOf("category=3") > 0) :
        //         $(".nav li").attr("class", "");
        //         console.log(1);
        //         $(".nav li").eq(3).attr("class", "current");
        //         break;
        //     case site_url.indexOf("publish.php") > 0 :
        //         $(".nav li").attr("class", "");
        //         $(".nav li").eq(4).attr("class", "current");
        //         break;
        //     case site_url.indexOf("publish.php?id=2") > 0 :
        //         $(".nav li").attr("class", "");
        //         $(".nav li").eq(5).attr("class", "current");
        //         break;
        // }

        $(".nav li").hover(function () {
            $(".nav li.current").attr("id", "shutAhover");
            //$(".nav li.current").removeClass("current");
        }, function () {
            if ($(this).attr("class") != "current") {
                $(".nav li.current").attr("class", "");
            }
            $(".nav li#shutAhover").attr("class", "current");
        });

        //导航
        $(".nav li").hoverClass("hover");
    });
</script>