<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit" />
    <title>{:config('web_site_title')}</title>
    <meta name="keywords" content="{:config('web_site_keywords')}"/>
    <meta name="description" content="{:config('web_site_description')}"/>
    <link rel="icon" href="/static/mobile/image/favicon.ico">
    <link href="/static/mobile/style/index.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/mobile/script/jquery-1.7.1.min.js"></script>
</head>

<body>
<div class="wal" id="app">
    <!--wal-->
    <div class="g-head g-head-2">
        <div class="wal">
            <h2>{$info.title}</h2>
            <div class="btn btn-left"><a href="javascript:window.history.go(-1);" class="back"></a></div>
            <div class="btn btn-right">
                <a href="javascript:;" class="search"></a>
                <a href="javascript:;" class="nav"></a>
            </div>
        </div>
    </div>
    {include file="layout/search" /}
    {include file="layout/nav" /}

    <div class="product-img">
        <ul class="swiper-wrapper">
            {if isset($info['video']) and !empty($info['video'])}
            <li>
                <video src="{$info['video']}" controls width="100%">
                </video>
            </li>
            {/if}
            {foreach $info['imgs'] as $image}
                <li class="swiper-slide"><img src="{$image}" alt=""></li>
            {/foreach}
        </ul>
        <!--        <div class="num">-->
        <!--            <div>编号:A14167701</div>-->
        <!--            <div><span class="num-curr"></span>/<span class="num-total"></span></div>-->
        <!--        </div>-->
    </div>
    <script type="text/javascript">
        $(function(){
            swiperFun({
                dom: $('.product-img')
            })
        })
    </script>
    <div class="product-show">
        <div class="info">
            <div class="label"><span>{$info.tag}</span></div>
            <div class="time">{$info.releasetime}</div>
        </div>
        <h2 class="title">{$info.title}</h2>
        <div class="msg">
            <ul>
                <li>
                    <h3>{$info.measurearea}<span>m²</span></h3>
                    <p>总面积</p>
                </li>
                <li>
                    <h3>{$info.price}<span>元</span></h3>
                    <p>售价</p>
                </li>
                <li>
                    <h3>{$info.area_name}</h3>
                    <p>区域</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="p-line"></div>

    <div class="product-show-2">
        <div class="p-title">
            <h2>基本信息</h2>
        </div>
        <div class="list">
            <ul>
                <li>
                    <div class="name">类型</div>
                    <p>{$info.type}</p>
                </li>
                <li>
                    <div class="name">总面积</div>
                    <p>{$info.measurearea}㎡</p>
                </li>
                <li>
                    <div class="name">土地使用年限</div>
                    <p>{$info.land_use}㎡</p>
                </li>

                <li>
                    <div class="name">土地证</div>
                    <p>{$info.land_card}</p>
                </li>

            </ul>
        </div>
    </div>
    <div class="p-line"></div>

    <div class="product-show-2">
        <div class="p-title">
            <h2>概况</h2>
        </div>
        <div class="content">
            {$info.detail|raw}
        </div>
    </div>
    <div class="p-line"></div>

    {include file='layout/appoint' /}
    <div class="p-line"></div>

    <div class="product-list">
        <div class="p-title">
            <h2>猜你喜欢</h2>
            <a href="/land" class="more">更多</a>
        </div>
        <ul>
            {foreach $recommend as $row}
                <li>
                    <a href="/land/detail?id={$row.id}">
                        <div class="img"><img src="{$row.imgs}" alt=""><em>{$row.area_name}</em></div>
                        <div class="name">{$row.title}</div>
                        <div class="label"></div>
                        <div class="price"><span>{$row.price}/㎡</span><em>{$row.measurearea}㎡</em></div>
                    </a>
                </li>
            {/foreach}
        </ul>
    </div>

    {include file="layout/foot-tel" /}
    {include file="layout/foot-btn" /}
    <!--wal-END-->
</div>
</body>
</html>

<link rel="stylesheet" href="/static/mobile/script/swiper/swiper-3.4.2.min.css">
<script type="text/javascript" src="/static/mobile/script/swiper/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/static/mobile/script/js.js"></script>
<script>
    $(function(){
        var currtime = new Date().Format("yyyy-M-dd");
        console.log(currtime);
        $('.time').text(currtime);
    });
</script>
