<!DOCTYPE html>

<html lang="en" style="font-size: 50px;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{$info.title}</title>
    <link rel="icon" href="/NewStyles/images/favicon.ico">
    <meta name="keywords" content="深圳厂房出租">
    <meta name="description" content="{$info.title}">    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" type="text/css" href="/static/mobile/css/swiper-4.3.5.min.css">
    <link rel="stylesheet" href="/static/mobile/css/reset.css">
    <link rel="stylesheet" href="/static/mobile/css/base.css">
    <link rel="stylesheet" href="/static/mobile/css/details.css">
    <script src="./workshopdetail_files/sdk"></script><script charset="utf-8" src="/static/index/js/lxb.js"></script><script charset="utf-8" src="./workshopdetail_files/insert_bdtj"></script><script src="/static/index/js/push.js"></script><script src="/static/index/js/hm.js"></script><script src="/static/index/js/rem.js"></script>
    <script src="./workshopdetail_files/index.php"></script>
    <style>
        .listCon li >a{
            overflow: initial;
        }
    </style>
<!--埋点头部-->
<script>
    //声明_czc对象
    var _czc = _czc || [];
    //用来指定需要哪个网站代码(siteid)来接受API发送的请求。
    _czc.push(["_setAccount", "1275394881"]);     //正式环境
</script></head>
<body class="bodyBgWhite">
        <div id="goToUp" style="display: block;"></div>
    <a href="/foot/footprint/" id="historyPageBtn" onclick="_czc.push(["_trackEvent","厂房详情页","点击足迹按钮次数"]);"></a>
            <!--打开app-->
    <!--头部-->
    <header class="headBox dheadFixBox headFixBox" style="background-color: rgb(248, 248, 248);">
        <a href="javascript:void(0);" class="back"></a>
        <h2 style="text-align: left;padding-left: 1.12rem">{$info.title|mb_substr=0,15,'utf-8'}</h2>
        <a href="javascript:void(0)" id="factoryShare" class="share" onclick="_czc.push(["_trackEvent","厂房详情页","点击分享次数"]);"></a>
        <div id="factoryNav" class="nav" onclick="_czc.push(["_trackEvent","厂房详情页","点击抽屉次数"]);"></div>
    </header>
    <!--顶部导航频道-->
<!--<nav id="nav"></nav>-->
<style>
    #nav .foot li{
        width: 33.333%;
    }
</style>
<nav id="nav">
    <div class="navCon">
        <div class="head">
            <img src="/static/index/img/navigation_banner.png" alt="">
            <a href="javascript:void(0);" class="navIcon"></a>
        </div>
        <ul class="menuNav clearFix">
            <li>
                <a href="/sz/cf/">
                <img src="/static/index/img/nav_icon_0.png" alt="厂房">
                <p>厂房出租</p>
                </a>
            </li>
            <li>
                <a href="/sz/warehouse/">
                    <img src="/static/index/img/nav_icon_cangku.png" alt="仓库">
                    <p>仓库</p>
                </a>
            </li>
            <li>
                <a href="/office/">
                <img src="/static/index/img/nav_icon_1.png" alt="写字楼">
                <p>写字楼</p>
                </a>
            </li>
            <li>
                <a href="/sz/td/">
                <img src="/static/index/img/nav_icon_2.png" alt="土地">
                <p>土地</p>
                </a>
            </li>
            <li>
                <a href="/y/">
                    <img src="/static/index/img/nav_icon_4.png" alt="产业园区">
                    <p>产业园区</p>
                </a>
            </li>
            <li>
                <a href="/sxzs/">
                    <img src="/static/index/img/nav_icon_3.png" alt="市县招商">
                    <p>市县招商</p>
                </a>
            </li>
            <li>
                <a href="/zhuanti/">
                    <img src="/static/index/img/nav_icon_5.png" alt="热销园区">
                    <p>热销园区</p>
                </a>
            </li>

            <li>
                <a href="/agents/sz/">
                    <img src="/static/index/img/nav_icon_6.png" alt="经纪人">
                    <p>经纪人</p>
                </a>
            </li>
            <li>
                <a href="/news/">
                    <img src="/static/index/img/nav_icon_9.png" alt="资讯">
                    <p>资讯</p>
                </a>
            </li>
            <li>
                <a href="/NewDemand/">
                    <img src="/static/index/img/nav_icon_7.png" alt="求租求购">
                    <p>求租求购</p>
                </a>
            </li>
            <li>
                <a href="/entrust.html">
                    <img src="/static/index/img/nav_icon_8.png" alt="投放房源">
                    <p>投放盘源</p>
                </a>
            </li>

            <li style="border-bottom: 0">
                <a href="/work/">
                    <img src="/static/index/img/homepage_ic_ywhz.png" alt="业务合作">
                    <p>业务合作</p>
                </a>
            </li>
        </ul>
        <ul class="foot clearFix">
            <li>
                <a href="/">
                    <img src="/static/index/img/navigation_ic_homepage.png" alt="首页">
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="/help/about.html">
                    <img src="/static/index/img/navigation_ic_us.png" alt="关于我们">
                    <p>关于我们</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="/static/index/img/navigation_ic_group.png" alt="集团官网">
                    <p>集团官网</p>
                </a>
            </li>
            <!--<li>-->
                <!--<a href="/work/">-->
                    <!--<img src="/NewStyles/images2/navigation_ic_collaborate.png" alt="业务合作">-->
                    <!--<p>业务合作</p>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        <div class="close"></div>
    </div>
    <div class="mask"></div>
</nav>    <!--banner-->
    <section class="deBanner" style="z-index: 1">
        <div class="headTansBg"></div>
        <div class="swiper-container pic deBannerSwiper swiper-container-horizontal">
            <ul class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                {php} $imgs = unserialize($info['imgs']);{/php}
                {volist name='imgs' id="url"}
                                                            <li class="swiper-slide swiper-slide-active" onclick="_czc.push(["_trackEvent","厂房详情页","点击图片进入大图次数"]);" style="width: 750px;">
                            <img src="{$url}" alt="{$info.title}">
                        </li>
                                            
                {/volist}
            </ul>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        <div class="numTips">
            <p>编号:A10718427</p>            <div class="swiper-pagination swiper-pagination-fraction" style="position: initial;"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">2</span></div>
        </div>
    </section>
    <!--相册-->
    <div class="atlasesBox">
        <header class="headBox headFixBox" style="background-color: rgb(248, 248, 248);">
            <div class="backUp"></div>
        </header>
        <div class="view">
            <div class="swiper-container swiper-container-horizontal swiper-container-wp8-horizontal">
                <ul class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    {php} $imgs = unserialize($info['imgs']);{/php}
                    {volist name='imgs' id="url"}
                                                                        <li class="swiper-slide swiper-slide-active" style="width: 1366px;">
                                <img src="/static/index/img/7912c0c3eb552a8a0e75abd07210fea5.jpg" alt="石岩水田高薪园楼上2500平千级无尘车间">
                            </li>

                    {/volist}                                       </ul>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
        <div class="ab-swiper-pagination swiper-pagination swiper-pagination-fraction"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">2</span></div>
        <div class="preview">
            <!--<a class="arrow-left" href="#"></a>-->
            <!--<a class="arrow-right" href="#"></a>-->
            <div class="swiper-container swiper-container-horizontal swiper-container-wp8-horizontal">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    {php} $imgs = unserialize($info['imgs']);{/php}
                    {volist name='imgs' id="url"}
                                                                    <li class="swiper-slide active-nav swiper-slide-active">
                            <img src="/static/index/img/7912c0c3eb552a8a0e75abd07210fea5.jpg" alt="石岩水田高薪园楼上2500平千级无尘车间">
                        </li>
                    {/volist}                                         </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
    </div>
    <!--abstract信息-->
    <section class="abstractBox bt20">
        <div class="absLabBox plr30 clearFix">
            <p class="absLab clearFix">
                <span class="lab_1">出租</span>
                <span class="lab_2">置顶</span>                <span class="lab_3">优质</span>                <span class="lab_4">推荐</span>            </p>
            <p class="ReleTime">1分钟前</p>        </div>
        <h2 class="tit plr30" id="title" title="石岩水田高薪园楼上2500平千级无尘车间">{$info.title}</h2>
        <div class="plr30"><p style="width: 100%;height: 1px;background-color:#EFEFEF"></p></div>
        <ul class="absList clearFix" style="border: 0;">
            <li>
                <h4>{$info.measurearea}<span>m²</span></h4>
                <p>总面积</p>
            </li>
            <li>
                <h4>{$info.plantrent}<span>元/m²</span></h4>
                <p>租金</p>
            </li>
            <li>
                <h4>{$info.city|getCityName=###,$info.area,'-'}</h4>
                <p>区域</p>
            </li>
        </ul>
                <div class="plr30"><p style="width: 100%;height: 1px;background-color:#EFEFEF"></p></div>
        
            </section>

    <!--基本信息-->
    <section class="baseInfoBox plr30 bt20 singleRow">
        <div class="detaSectTit clearFix">
            <h2>基本信息</h2>
        </div>
        <ul class="baseInfo clearFix">
            <li>
                <span>类型</span>{$info.category}            </li>
                            <li>
                    <span>总面积</span>{$info.measurearea}m²                </li>
                                        <li>
                    <span>厂房面积</span>{$info.lengthwidth}m²                </li>
                                        <li>
                    <span>办公室</span>{$info.officespace}m²                </li>
                    <li>
                <span>宿舍面积</span>{$info.dormitoryarea} m²           </li>
                            <li>
                    <span>厂房价格</span>{$info.plantrent}元/m²                </li>
                                        <li>
                    <span>所在楼层</span>{$info.layernumber}层                </li>
                                        <li>
                    <span>结构</span>{$info.structure}                </li>
                     <li>
                <span>土地用途</span>{$info.canteen}            </li>
                            <li>
                    <span>使用年限</span>{$info.expire}  年              </li>
                                        <li>
                    <span>占地面积</span>{$info.numberbuildings} m²               </li>
                                        <li>
                    <span>新旧程度</span>{$info.newolddegree}                </li>
                    <li>
                <span>厂房配电</span>{$info.distributioncapacity}            </li>
                            <li>
                    <span>厂房电梯</span>{$info.elevator}                </li>
                                        <li>
                    <span>消房</span>{$info.firecontrol}                </li>
                                        <li>
                    <span>交易方式</span>{$info.applicableindustries}                </li>
                                                                                </ul>
    </section>
    <!--概括-->
    <section class="sumBox plr30 bt20">
        <div class="detaSectTit clearFix">
            <h2>概况</h2>
        </div>
        <div class="sumCon" style="margin-bottom: 0.3rem; height: 96px;">
            <div class="txt">{$info.detail}</div>
            <div class="unfold" style="display: none;"><span class="hui-icons hui-icons-down2"></span></div>
        </div>
    </section>
    <!--选址预约-->
    <section class="orderedBox plr30 bt20">
        <div class="detaSectTit clearFix">
            <h2>选址预约</h2>
        </div>
        <div>
            <form action="/sz/cf_A10718427.html" id="orderedForm">
                <div class="inp">
                    <input type="text" placeholder="请输入联系方式" onkeyup="value=value.replace(/[^\d]/g,&#39;&#39;)" onblur="value=value.replace(/[^\d]/g,&#39;&#39;)" maxlength="11">
                </div>
                <div class="textarea">
                    <textarea placeholder="请描述您的具体需求，如：找一个靠近高速，大小1200到1500平，带装修的厂房等。" maxlength="500"></textarea>
                </div>
                <div class="sub">
                    <button onclick="_czc.push([&#39;_trackEvent&#39;,&#39;厂房详情页&#39;,&#39;点击选址预约按钮次数&#39;]);">马上预约</button>
                </div>

            <div class="verifyTipsBox center"><p class="verifyTips "></p></div> </form>
            <div class="megDialog megSuusen">
                <p class="icon_dialog"></p>
                <h4>信息提交失败</h4>
                <p class="fail">请重新提交</p>
                <p class="btn">关闭</p>
            </div>
            <div class="maskBox"></div>
        </div>
    </section>
    <!--猜你喜欢-->
    <section class="likeBox plr30 bt20">
        <div class="detaSectTit clearFix">
            <h2>猜你喜欢</h2>
            <a id="like" href="/sz/cf/" onclick="_czc.push(["_trackEvent","厂房详情页","点击猜你喜欢更多按钮进入列表页次数"]);">更多<i></i></a>
        </div>
        <ul class="listCon">
    {volist name="recommend" id="data"}

                            <li>
                    <a href="/sz/cf_A10718427.html" class="clearFix">
                        <div class="pic">
                            <i>宝安</i>
                            <img src="/static/index/img/598f8dab1a923e174a4fcc7132012c73.jpg" alt="石岩水田高薪园楼上2500平千级无尘车间">
                            <!--<p>出租</p>-->
                        </div>
                        <div class="txt">
                            <h2>石岩水田高薪园楼上2500平千级无尘车间</h2>
                            <p class="baseInfo"><span>宝安-石岩</span></p>
                            <p class="label">
                                <span class="lab_1">二楼以上</span>
                                <span class="lab_2">标准厂房</span>
                            </p>
                            <p class="price cfPrice">
                                <span>23<span>元/m²</span></span>
                                <span>2500㎡</span>
                            </p>
                        </div>
                    </a>
                </li>{/volist}
                    </ul>
    </section>
        <!--所在区域的镇/街道信息-->
    <section class="sameRegion plr30">
        <div class="detaSectTit clearFix">
            <h2>宝安厂房</h2>
        </div>
        <div class="swiper-container Swipertips swiper-container-horizontal">
            <ul class="swiper-wrapper">
    {volist name="recommend" id="data"}
            
                                    <li class="swiper-slide labels swiper-slide-active" onclick="_czc.push(["_trackEvent","厂房详情页","点击区域厂房标签次数"]);" style="width: 690px;">
                                                                                    <a href="/sz/cf/A06-B017/">新安厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B018/">西乡厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B019/">航城厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B020/">福永厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B021/">福海厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B022/">沙井厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B023/">新桥厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B024/">松岗厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B025/">燕罗厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B026/">石岩厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B027/">光明厂房</a>
                                                                                                                                        <a href="/sz/cf/A06-B028/">公明厂房</a>
                                                                        </li>{/volist}
                            </ul>
            <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </section>
        <!--没找到房源-->
    <section class="CanNotForm plr30 " style="margin-top: 0rem;padding-bottom: 0.6rem;">
        <a id="help" href="/NewDemand/" onclick="_czc.push(["_trackEvent","厂房详情页","点击委托需求按钮次数"]);">
            <img src="/static/index/img/detailed_entrust2.png" alt="需求登记">
        </a>
    </section>


    
    
    <!--底部栏-->
    <!--底部栏-->
<footer>
    <!--电话-->
    
    <p class="link clearFix">
        <a id="about" href="/index/about.html" onclick="_czc.push([&#39;_trackEvent&#39;,&#39;首页&#39;,&#39;点击关于我们次数&#39;]);">关于我们</a>
        
    </p><div style="clear:both"></div>
    <p class="copy clearFix" style="margin-bottom: 6px">
        
        <span style="margin: 0 0.2rem;"><a style="color: #979797;" href="http://www.beian.miit.gov.cn" target="_blank">{:config('web_site_icp')}</a></span>
    </p>   </p><div style="clear:both"></div>
    <p class="copy clearFix" style="margin-bottom: 3px">
        <span style="margin: 0 0.2rem;">广东厂房网&nbsp;版权所有</span>
        
    </p>   </p><div style="clear:both"></div>
        <p>{:config('web_site_name')} 版权所属</p>
    </footer>        <div style="height: 1.2rem;"></div>
    <!--底部导航模块-->
    <section class="botFixNavBox">
        <div>
            <a href="/shop/15975/" class="agentPic" onclick="_czc.push(["_trackEvent","厂房详情页","点击经纪人网店次数"]);">
                <div>
                    <img src="/static/index/img/20268d75-aa8a-488d-9117-2b3fab93de3c.jpg" alt="">
                    <p>杜敬君的网店</p>
                </div>
            </a>
            <a href="/NewMessage/?uid=15975&amp;code=1569291548" class="leave" onclick="_czc.push(["_trackEvent","厂房详情页","点击留言次数"]);">
                <i class="icon_leave"></i>
                <p>留言</p>
            </a>
            <a href="tel:4008800002,,6467" class="tel semCall" id="showtest" onclick="_czc.push(["_trackEvent","厂房详情页","点击浮动框电话拨打按钮次数"]);">
                <div>
                    <p>点击免费拨打</p>
                    <p>4008800002转6467</p>
                </div>
            </a>
        </div>
    </section>
        <!--分享-->
    <section class="sharePageBpx">
        <!--点击右上角分享-->
        <div class="share share-1">
            <img src="/static/index/img/share_pic1.png" alt="" class="pic1">
            <a href="javascript:void(0);" class="share-btn"><img src="/static/index/img/share_know.png" alt=""></a>
        </div>

        <div class="share share-2">
            <div class="shareCon">
                <h3>分享链接给好友</h3>
                <p class="text">https://realsee.com/lianjia/vdrj5DRkvP3q8OeK/Ydq4ApmvLVbgEf7TghKTeZNrL9jRPDln/</p>
                <input type="text" class="copyVal" id="copyVal">
                <p class="btn copyKey">一键复制</p>
                <p class="btn">取消</p>
            </div>
        </div>
        <div class="share share-3">
            <div class="shareCon">
                <a href="javascript:void(0);" class="share-btn"><img src="/static/index/img/share_know.png" alt=""></a>
                <img src="/static/index/img/share_pic2.png" alt="" class="pic2">
            </div>
        </div>
    </section>
    <script src="/static/index/js/swiper-4.3.5.min.js"></script>
    <script src="/static/index/js/zepto.js"></script>
    <script src="/static/index/js/touch.js"></script>
    <script>
        var factory =   "/sz/cf/";
        var office  =   "/sz-office/rent/";
        var land    =   "/sz/td/";
        var sxzs    =   "/sxzs/zfzs/";
        var park    =   "/y/";
        var agent   =   "/agents/sz/";
        var demand  =   "/NewDemand/";
        var newlist =   "/infor/index/";
        var route = [factory,office,land,sxzs,park,'picked',agent,demand,'delivery',newlist];
        var xzyName =   "factorydetail";
        var xzyID   =   "1804182026124146414";
    </script>
    <script src="/static/index/js/base.js"></script>
    <script src="/static/index/js/details.js"></script>
    <script type="text/javascript" src="/static/index/js/NativeShare.js"></script><!--分享组件-->
    <script src="./workshopdetail_files/index(1).php"></script>
    <script>
        $.ajax({
            type : 'post',
            url  : "/sz/cf_A10718427.html",
            data : {browse:1},
            success:function(result){
                if (typeof(Storage) !== "undefined") {
                    // localStorage.setItem("locaRes", JSON.stringify(result));
                    // s= JSON.parse(localStorage.getItem("locaRes"));
                    // localStorage.clear();//清空数据函数
                    var hisArray=[];
                    var ls = window.localStorage;
                    // var hisRes=ls.getItem("locaRes");
                    var hisVal = JSON.parse(ls.getItem("hisTotal"))
                    if(hisVal){
                        hisArray=hisVal;
                    }
                    ls.setItem("locaRes", JSON.stringify(result));
                    var obj = JSON.parse(ls.getItem("locaRes"));
                    hisArray.push(obj);
                    // hisArray.forEach(function(item,index,arr){
                    //     // console.log(item);
                    //     if(item.id==obj.id && index!= (hisArray.length-1)){
                    //         console.log('number',hisArray.length-1)
                    //         hisArray.splice(index)
                    //     }
                    // });
                    for(var i=0;i<hisArray.length;i++){
                        if(hisArray[i].id==obj.id && i!= (hisArray.length-1)){
                            hisArray.splice(i,1);
                        }
                    }
                    ls.setItem("hisTotal", JSON.stringify(hisArray));
                    hisArray = JSON.parse(ls.getItem("hisTotal"));
                } else {
                    alert("抱歉！您的浏览器不支持 Web Storage ...")
                }
            }
        });
        $('.tel').click(function () {
            $.ajax({
                type : 'post',
                url  : "/sz/cf_A10718427.html",
                data : {call:1},
                success:function(result){
                    if (typeof(Storage) !== "undefined") {
                        // Store
                        // localStorage.setItem("lastname", "Gates");
                        // Retrieve
                        // document.getElementById("result").innerHTML = localStorage.getItem("lastname");

                        var hisArray2=[];
                        var ls = window.localStorage;
                        var hisVal = JSON.parse(ls.getItem("hisTotal2"))
                        if(hisVal){
                            hisArray2=hisVal;
                        }
                        ls.setItem("locaRes2", JSON.stringify(result));
                        var obj = JSON.parse(ls.getItem("locaRes2"));
                        hisArray2.push(obj);
                        for(var i=0;i<hisArray2.length;i++){
                            if(hisArray2[i].id==obj.id && i!= (hisArray2.length-1)){
                                hisArray2.splice(i,1);
                            }
                        }
                        ls.setItem("hisTotal2", JSON.stringify(hisArray2));
                        hisArray2 = JSON.parse(ls.getItem("hisTotal2"));
                    } else {
                        alert("抱歉！您的浏览器不支持 Web Storage ...")
                    }
                }
            })
        });

        //记录点击进入经纪人个人网店次数
        $('.agentPic').on('click', function () {
            var id = "15975";
            var businessId = "1804182026124146414";
            $.ajax({
                type : 'post',
                url : "/countAgentShop/",
                data : {id:id,businessId:businessId,type:1},
                success: function (ret) {
                    console.log(ret);
                }
            })
        });

        /**
         * sem获取拨打电话记录
         */
        $('.semCall').on('click', function () {
            var url = window.location.href;
            $.ajax({
                type : 'post',
                url : "/newmain/semtelsub/",
                data : {url:url},
                success: function (ret) {
                    console.log(ret);
                }
            })
            console.log(url);
        })
        window.onload=function(){
//            nav();//顶部抽屉导航
            switchNav();// 打开、关闭nav
            baseInforWid();//基本信息
            share();//分享组件
            abstractSwiper();//相册
            headFixBox();//头部滑动固定
            fullText();//查看全文
            dheadFixApp();//固定app
        }

        var Swipertips = new Swiper('.Swipertips', {
            // autoplay: true,//可选选项，自动滑动
            pagination: {
                el: '.Swipertips .swiper-pagination',
                type: 'bullets',
                // type: 'fraction',
                // type: 'fraction',
            },
        })
    </script>
    <!--埋点尾部-->
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1275394881'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1275394881' type='text/javascript'%3E%3C/script%3E"));</script><span style="display:none;" id="cnzz_stat_icon_1275394881"><a href="https://www.cnzz.com/stat/website.php?web_id=1275394881" target="_blank" title="站长统计">站长统计</a></span><script src="./workshopdetail_files/z_stat.php" type="text/javascript"></script><script src="./workshopdetail_files/core.php" charset="utf-8" type="text/javascript"></script>    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e17d3f70d7bea4d156e94c7307c15016";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!--百度自动推送-->
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>        <script>
        $("#orderedForm").append('<div class="verifyTipsBox center"><p class="verifyTips "></p></div> ');
        var verifyTipsBox = $(".verifyTipsBox");
        var verifyTips = $(".verifyTipsBox .verifyTips");
        /************ 设置自动消失事件 *************/
        function dieAway(){
            verifyTipsBox.show();

            setTimeout(function(){
                $(".verifyTipsBox").animate({
                    opacity:'0',
                    // display:'none',
                }, 300, 'ease-out');
            },1000);
            $(".verifyTipsBox").css({"opacity":"1"})
            setTimeout(function () {
                verifyTipsBox.hide();
            },4000)
        };
        /************ 提交状态 *************/
        function dialog(type) {
            //type=1:成功 type=2:提交失败 type=3:服务器出错
            var type = arguments[0]?arguments[0]:1;
            var _this = $('.megDialog')
            _this.show();
            if(type==1){
                _this.addClass('megSuusen').removeClass('megFail')
                _this.find('h4').text('已预约成功');
                _this.find('.fail').text('请保持电话通畅，客服将会联系您');
            }else if(type==2){
                _this.removeClass('megSuusen').addClass('megFail')
                _this.find('h4').text('信息提交失败');
                _this.find('.fail').text('请重新提交');
            }else if(type==3){
                _this.removeClass('megSuusen').addClass('megFail')
                _this.find('h4').text('服务器出错');
                _this.find('.fail').text('请重新提交');
            }else if(type==4){
                _this.removeClass('megSuusen megFail')
                _this.find('h4').text('请勿频繁提交');
                _this.find('.fail').text('您已成功提交，请勿频繁提交');
            }

            $(".megDialog").next('.maskBox').show();
            return false;
        }
        /************ 表单提交 *************/
        $("#orderedForm .sub button").click(function(){
            var inp = $("#orderedForm .inp input");
            var textarea = $("#orderedForm .textarea textarea")
            var telReg = /^((0\d{2,3}-\d{7,8})|(1[3456789]\d{9}))$/;//手机正则

            if(!inp[0].value.trim()){
                verifyTips.text('请输入手机号码')
                dieAway();
                return false;
            }
            if(!telReg.test(inp[0].value)){
                verifyTips.text('您输入的手机格式有误，请重新输入');
                dieAway();
                return false;
            }
            if(!textarea[0].value.trim()){
                verifyTips.text('请输入您的具体需求');
                dieAway();
                return false;
            }
            var tel = inp[0].value;
            var content = textarea[0].value;
            var uid = "15975";
            var CfId = "1804182026124146414";
            var type = "1";
            var sheng = "440000000";
            var city = "440300000";
            var area = "";
            $.ajax({
                type : 'post',
                url  : "/cfShow/Leave/",
                data : {tel:tel,content:content,uid:uid,CfId:CfId,type:type,sheng:sheng,city:city,area:area},
                success:function(msg){
                    if(msg == 1){
                        $('.sub button').attr("disabled","disabled");
                        $('.sub button').css({"background-color":"#ccc"});
                        $('.sub button').html('已预约');
                        dialog(msg)
                    }else if(msg == 2){
                        return  dialog(msg)
                    }else if(msg == 4){
                        return  dialog(msg)
                    }
                },
                error:function(error){
                    return  dialog(3);
                },
            });
            return false;
        });
        $('#orderedForm .inp input').keyup(function(){
            var mobile = $(this).val();
            var tel  = "";
            if(mobile != '' && tel !=''){
                var dq  =   tel.split(',');
                var count   =   dq.length;
                for(var i=0;i<count;i++){
                    if(mobile == dq[i]){
                        $('.sub button').attr("disabled","disabled");
                        $('.sub button').css({"background-color":"#ccc"});
                        $('.sub button').html('已预约');
                        return false
                    }else{
                        $('.sub button').removeAttr('disabled');
                        $('.sub button').css({"background-color":"#dd2534"});
                        $('.sub button').html('马上预约');
                    }
                }
            }
        })
        //关闭留言提交状态
        $(".megDialog p.btn").tap(function(){
            var _this = $('.megDialog')
            _this.hide();
            $(".megDialog").next('.maskBox').hide();
            window.location.reload();
        })
    </script>

</body></html>