<!DOCTYPE html>

<html lang="en" style="font-size: 100px;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <title>{:config('web_site_title')}</title>
    <link rel="icon" href="/static/mobile/img/favicon.ico">
    <meta content="all" name="robots">
    <meta name="Keywords" content="">
    <meta name="description" content=""> 
    
    
    <meta http-equiv="Cache-Control" content="no-transform"> <!--防止百度转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp"> <!--防止百度转码-->
    <meta name="applicable-device" content="mobile"> <!--移动端适配-->
    <link rel="stylesheet" href="/static/mobile/css/reset.css">
    <link rel="stylesheet" href="/static/mobile/css/swiper-4.3.5.min.css">
    <link rel="stylesheet" href="/static/mobile/css/base.css">
    <link rel="stylesheet" href="/static/mobile/css/about.css">
   
	<script charset="utf-8" src="/static/index/js/lxb.js.下载"></script>
	<script charset="utf-8" src="/static/index/js/insert_bdtj"></script>
	<script src="/static/index/js/push.js.下载"></script>
	
	<script src="/static/index/js/rem.js.下载"></script>
    <!--埋点头部-->
    <script>
    //声明_czc对象
    var _czc = _czc || [];
    //用来指定需要哪个网站代码(siteid)来接受API发送的请求。
    _czc.push(["_setAccount", "1275394881"]);     //正式环境
</script></head>
<body>
<div id="goToUp" style="display: block;"></div>
<!--头部-->
<header class="headBox">
    <a href="javascript:void(0);" class="back"></a>
    <h2>关于我们</h2>
    <a href="javascript:void(0);" class="share"></a>
    <a href="#" class="nav"></a>
</header>
<!--顶部导航频道-->
<!--顶部导航频道-->
<!--<nav id="nav"></nav>-->
<style>
    #nav .foot li{
        width: 33.333%;
    }
</style>
<nav id="nav">
    <div class="navCon">
        <div class="head">
            <img src="/static/index/img/navigation_banner.png" alt="">
            <a href="javascript:void(0);" class="navIcon"></a>
        </div>
       <ul class="menuNav clearFix">
            <li>
                <a href="sz/cf/">
                <img src="/static/index/img/homepage_ic_navigation_plant.png" alt="厂房出租">
                <p>厂房出租</p>
                </a>
            </li>
            <li>
                <a href="sz/warehouse/">
                    <img src="/static/index/img/homepage_ic_office_building.png" alt="仓库">
                    <p>厂房出售</p>
                </a>
            </li>
            <li>
                <a href="office/">
                <img src="/static/index/img/homepage_ic_investment.png" alt="写字楼">
                <p>包租厂房</p>
                </a>
            </li>
            <li>
                <a href="sz/td/">
                <img src="/static/index/img/homepage_ic_cangku.png" alt="土地">
                <p>仓库出租</p>
                </a>
            </li>
            <li>
                <a href="y/">
                    <img src="/static/index/img/homepage_ic_land.png" alt="产业园区">
                    <p>土地租售</p>
                </a>
            </li>
            <li>
                <a href="sxzs/">
                    <img src="/static/index/img/homepage_ic_special.png" alt="市县招商">
                    <p>园区招商</p>
                </a>
            </li>
            <li>
                <a href="zhuanti/">
                    <img src="/static/index/img/homepage_ic_garden.png" alt="热销园区">
                    <p>写字楼</p>
                </a>
            </li>

            <li>
                <a href="agents/sz/">
                    <img src="/static/index/img/homepage_ic_broker.png" alt="经纪人">
                    <p>民宅商铺</p>
                </a>
           
        </ul>
        <ul class="foot clearFix">
            <li>
                <a href="/">
                    <img src="./about_files/navigation_ic_homepage.png" alt="首页">
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="/help/about.html">
                    <img src="./about_files/navigation_ic_us.png" alt="关于我们">
                    <p>关于我们</p>
                </a>
            </li>
            <li>
                <a href="http://m.zhaoshang800.cn/">
                    <img src="./about_files/navigation_ic_group.png" alt="集团官网">
                    <p>集团官网</p>
                </a>
            </li>
            <!--<li>-->
                <!--<a href="/work/">-->
                    <!--<img src="/NewStyles/images2/navigation_ic_collaborate.png" alt="业务合作">-->
                    <!--<p>业务合作</p>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        <div class="close"></div>
    </div>
    <div class="mask"></div>
</nav><!--分类-->
<section class="newsSelectBox rheadBox rheadFixBox fix">
    <div class="NewsTitle swiper-container swiper-container-horizontal" id="swiper-container2">
        <ul class="clearfix swiper-wrapper li1" style="transform: translate3d(0px, 0px, 0px) !important;">
            <li class="swiper-slide NewsFocus about swiper-slide-visible swiper-slide-active" style="width: 166.667px;"><a href="/help/about.html" onclick="_czc.push([&quot;_trackEvent&quot;,&quot;关于我们&quot;,&quot;点击关于伙伴行次数&quot;]);">关于我们</a></li>
            <li class="swiper-slide swiper-slide-visible swiper-slide-next" style="width: 166.667px;"><a href="/help/product.html" onclick="_czc.push([&quot;_trackEvent&quot;,&quot;关于我们&quot;,&quot;点击产品服务次数&quot;]);">产品服务</a></li>
            <li class="swiper-slide swiper-slide-visible" style="width: 166.667px;"><a href="/work/" onclick="_czc.push([&quot;_trackEvent&quot;,&quot;关于我们&quot;,&quot;点击业务合作次数&quot;]);">业务合作</a></li>
            <li class="swiper-slide swiper-slide-visible" style="width: 166.667px;"><a href="/help/rent.html" onclick="_czc.push([&quot;_trackEvent&quot;,&quot;关于我们&quot;,&quot;点击需求登记次数&quot;]);">需求登记</a></li>
            <li class="swiper-slide swiper-slide-visible" style="width: 166.667px;"><a href="/help/recommended.html" onclick="_czc.push([&quot;_trackEvent&quot;,&quot;关于我们&quot;,&quot;点击建议反馈次数&quot;]);">建议反馈</a></li>
            <li class="swiper-slide" style="width: 166.667px;"><a href="/help/connection.html" onclick="_czc.push([&quot;_trackEvent&quot;,&quot;关于我们&quot;,&quot;点击联系我们次数&quot;]);">联系我们</a></li>
            <li class="swiper-slide" style="width: 166.667px;"><a href="http://m.zhaoshang800.cn/" onclick="_czc.push([&quot;_trackEvent&quot;,&quot;集团官网&quot;,&quot;点击联系我们次数&quot;]);">集团官网</a></li>
        </ul>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    <!--<div style="width: 0.32rem;height: 100%;background-color: #fff;position: absolute;top: 0;right:0 ;z-index: 1"></div>-->
</section><!--分享-->
<section class="sharePageBpx">
    <!--点击右上角分享-->
    <div class="share share-1">
        <img src="./about_files/share_pic1.png" alt="" class="pic1">
        <a href="javascript:void(0);" class="share-btn"><img src="./about_files/share_know.png" alt=""></a>
    </div>

    <div class="share share-2">
        <div class="shareCon">
            <h3>分享链接给好友</h3>
            <p class="text">https://realsee.com/lianjia/vdrj5DRkvP3q8OeK/Ydq4ApmvLVbgEf7TghKTeZNrL9jRPDln/</p>
            <input type="text" class="copyVal" id="copyVal">
            <p class="btn copyKey">一键复制</p>
            <p class="btn">取消</p>
        </div>
    </div>
    <div class="share share-3">
        <div class="shareCon">
            <a href="javascript:void(0);" class="share-btn"><img src="./about_files/share_know.png" alt=""></a>
            <img src="./about_files/share_pic2.png" alt="" class="pic2">
        </div>
    </div>

</section>

<setion class="about1">
    <!--<img src="/NewStyles/images_about/about_1.jpg" alt="">-->
    <!--<img src="/NewStyles/images_about/about_2.jpg" alt="">-->
    <div class="banner">
        <img src="./about_files/about_11.jpg" alt="">
        <img src="./about_files/about_12.png" alt="" class="txt">
    </div>
    <div class="con plr30">
        <h2 class="aTitle" style="padding-top: 0.68rem">网站简介</h2>
        <p class="txt">中工招商网（深圳市伙伴行网络科技有限公司）由伙伴产业服务集团投资运营。 伙伴产业服务集团是上市公司华夏幸福（股票代码：600340）控股企业，致力于成为中国领先的产业地产全程服务提供商。依托庞大的线下实体运营体系，基于互联网、移动互联网和大数据技术，构建产业园区投资咨询、策划顾问、营销推广、招商代理、园区运营的O2O一体化服务平台。在全球化背景下，为各级政府提供招商引资服务，为产业园区提供全程策划、招商、运营服务，为企业提供专业选址服务和企业增值服务，推动产业转型升级与区域经济发展。
            <br> <br>
            中工招商网创立于2010年，是一家覆盖土地、厂房、写字楼、商铺、产业园区招商的综合性服务平台，已成为中国领先的产业园区招商推广平台、厂房租售信息服务平台。中工招商网现已开通全国60多个城市分站，拥有50万注册会员，收录全国近万家产业园区信息，厂房信息发布量超400万条，为全国各类型企业提供专业选址服务。</p>
    </div>
    
</setion>
<p class="nextPage" style="padding-top: 1.44rem;padding-bottom: 1.46rem"><a href="/help/product.html" onclick="_czc.push([&quot;_trackEvent&quot;,&quot;关于伙伴行&quot;,&quot;点击产品服务次数&quot;]);">下一介绍：产品服务 &gt;&gt;</a></p>

<script src="/static/index/js/zepto.min.js.下载"></script>
<script src="/static/index/js/touch.js.下载"></script>
<script src="/static/index/js/swiper-4.3.5.min.js.下载"></script>
<script src="/static/index/js/base.js.下载"></script>
<script src="/static/index/js/about2.0.js.下载"></script>
<script type="text/javascript" src="/static/index/js/NativeShare.js.下载"></script><!--分享组件-->
<script>
    window.onload=function(){
        // nav();
        switchNav();//打开、关闭nav
        share();//分享组件
        NewsTitle();//navTabs选项卡
        titleFixBox();//筛选滑上固定顶部
    }
</script>
</body></html>