<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit"/>
    <title>{:config('web_site_title')}</title>
    <meta name="keywords" content="{:config('web_site_keywords')}"/>
    <meta name="description" content="{:config('web_site_description')}"/>
    <link rel="icon" href="/static/mobile/image/favicon.ico">
    <link href="/static/mobile/style/index.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/mobile/script/jquery-1.7.1.min.js"></script>
</head>

<body>
<!--这个页面没用了，做成弹出层放在layout/city.html里面了-->
<div class="wal" id="app">
    <!--wal-->
    <div class="g-headD"></div>
    <div class="g-head">
        <div class="wal">
            <div class="btn btn-left"><a href="javascript:window.history.go(-1)" class="back"></a></div>
            <h2>城市切换</h2>
            <div class="btn btn-right">
                <a href="javascript:;" class="nav"></a>
            </div>
        </div>
    </div>
    {include file="layout/nav" /}

    <div class="city-shift">
        <div class="title">当前位置</div>
        <div class="name">{$currentCity.name}</div>
        <div class="container">
            <div class="title">其他城市</div>
            <div class="list">
                <ul>
                    {foreach $cityList as $city}
                    <li><a href="javascript:;" onclick=setCityCookie("{$city.id}")>{$city.name}</a></li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
    <!--wal-END-->
</div>
</body>
</html>
<script>
    $(function () {
        is_city_shift = true
    });

    function setCityCookie(cityId) {
        console.log(cityId);
        document.cookie = 'city' + "=" + cityId;
        let prev_url = sessionStorage.getItem('prev_url');
        if (prev_url == null || prev_url == '') {
            window.location = '/'
        }
        window.location = prev_url
        //history.go(-1);
    }
</script>

<link rel="stylesheet" href="/static/mobile/script/swiper/swiper-3.4.2.min.css">
<script type="text/javascript" src="/static/mobile/script/swiper/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/static/mobile/script/js.js"></script>
