<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit" />
    <title>{:config('web_site_title')}</title>
    <meta name="keywords" content="{:config('web_site_keywords')}"/>
    <meta name="description" content="{:config('web_site_description')}"/>

    <link rel="icon" href="/static/mobile/image/favicon.ico">
    <link href="/static/mobile/style/index.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/mobile/script/jquery-1.7.1.min.js"></script>
</head>

<body>
<div class="wal" id="app">
    <!--wal-->
    <div class="g-head g-head-2">
        <div class="wal">
            <a href="index.html" class="logo"></a>
            <a href="tel:0769-87819917" class="tel">0769-87819917</a>
        </div>
    </div>
    <div class="indexFlash">
        <ul class="swiper-wrapper">
            <li class="swiper-slide"><a href=""><img src="/static/mobile/image/iBanner1.jpg" alt=""></a></li>
            <li class="swiper-slide"><a href=""><img src="/static/mobile/image/iBanner2.jpg" alt=""></a></li>
            <li class="swiper-slide"><a href=""><img src="/static/mobile/image/iBanner3.jpg" alt=""></a></li>
            <li class="swiper-slide"><a href=""><img src="/static/mobile/image/iBanner4.jpg" alt=""></a></li>
        </ul>
        <div class="dots"></div>
    </div>

    <div class="index-search">
        <div class="form">
            <a href="city_shift.html" class="select"><span>深圳</span></a>
            <div class="input"><input type="text" placeholder="请输入关键词进行搜索"></div>
            <div class="submit"><input type="button" value=""></div>
            <a href="javascript:;" class="search"></a>
        </div>
    </div>
    <div class="g-search">
        <div class="wal">
            <div class="form">
                <div class="input"><input type="text" placeholder="请输入关键词进行搜索"></div>
                <a href="javascript:;" class="close">取消</a>
            </div>
            <div class="tab-btn">
                <ul>
                    <li><span>厂房</span></li>
                    <li><span>写字楼</span></li>
                    <li><span>土地</span></li>
                    <li><span>产业园区</span></li>
                    <li><span>仓库</span></li>
                </ul>
            </div>
            <!--厂房-->
            <div class="tab-box">
                <div class="title">最近热搜</div>
                <div class="list">
                    <ul>
                        <li><a href="">标准厂房</a></li>
                        <li><a href="">龙岗小面积厂房出租</a></li>
                        <li><a href="">独院厂房</a></li>
                        <li><a href="">二楼以上</a></li>
                        <li><a href="">钢结构</a></li>
                    </ul>
                </div>
                <div class="title">搜索历史</div>
                <div class="msg">暂无搜索历史记录</div>
            </div>
            <!--写字楼-->
            <div class="tab-box">
                <div class="title">最近热搜</div>
                <div class="list">
                    <ul>
                        <li><a href="">宝安写字楼</a></li>
                        <li><a href="">交通便利</a></li>
                        <li><a href="">带装修</a></li>
                        <li><a href="">近地铁口</a></li>
                        <li><a href="">龙华写字楼出租</a></li>
                    </ul>
                </div>
                <div class="title">搜索历史</div>
                <div class="msg">暂无搜索历史记录</div>
            </div>
            <!--土地-->
            <div class="tab-box">
                <div class="title">最近热搜</div>
                <div class="list">
                    <ul>
                        <li><a href="">工业土地出售</a></li>
                        <li><a href="">地皮出售</a></li>
                        <li><a href="">土地买卖</a></li>
                        <li><a href="">南京土地</a></li>
                        <li><a href="">成都土地</a></li>
                    </ul>
                </div>
                <div class="title">搜索历史</div>
                <div class="msg">暂无搜索历史记录</div>
            </div>
            <!--产业园区-->
            <div class="tab-box">
                <div class="title">最近热搜</div>
                <div class="list">
                    <ul>
                        <li><a href="">粤海装备技术产业园</a></li>
                        <li><a href="">帝豪智造科技园</a></li>
                        <li><a href="">江门智能制造产业园</a></li>
                        <li><a href="">霸州智能测控装备产业园</a></li>
                    </ul>
                </div>
                <div class="title">搜索历史</div>
                <div class="msg">暂无搜索历史记录</div>
            </div>
            <!--仓库-->
            <div class="tab-box">
                <div class="title">搜索历史</div>
                <div class="msg">暂无搜索历史记录</div>
            </div>
            <!---->
            <div class="search-list">
                <div class="list">
                    <!--<ul>
                        <li><a href="">粤海装备技术产业园</a></li>
                        <li><a href="">帝豪智造科技园</a></li>
                        <li><a href="">江门智能制造产业园</a></li>
                        <li><a href="">霸州智能测控装备产业园</a></li>
                    </ul>-->
                </div>
            </div>
        </div>

    </div>


    <div class="index-nav">
        <ul>
            <li>
                <a href="/workshop/1">
                    <img src="/static/mobile/image/homepage_ic_navigation_plant.png" alt="">
                    <p>厂房出租</p>
                </a>
            </li>
            <li>
                <a href="/workshop/2">
                    <img src="/static/mobile/image/homepage_ic_office_building.png" alt="">
                    <p>厂房出售</p>
                </a>
            </li>

            <li>
                <a href="/workshop/3">
                    <img src="/static/mobile/image/homepage_ic_cangku.png" alt="">
                    <p>仓库出租</p>
                </a>
            </li>
            <li>
                <a href="/land">
                    <img src="/static/mobile/image/homepage_ic_land.png" alt="">
                    <p>土地租售</p>
                </a>
            </li>
            <li>
                <a href="/park">
                    <img src="/static/mobile/image/homepage_ic_special.png" alt="">
                    <p>园区招商</p>
                </a>
            </li>
            <li>
                <a href="/of_build">
                    <img src="/static/mobile/image/homepage_ic_garden.png" alt="">
                    <p>写字楼</p>
                </a>
            </li>
            <li>
                <a href="/shop">
                    <img src="/static/mobile/image/homepage_ic_broker.png" alt="">
                    <p>商铺租售</p>
                </a>
            </li>
            <li>
                <a href="/home_list">
                    <img src="/static/mobile/image/homepage_ic_investment.png" alt="">
                    <p>民宅租售</p>
                </a>
            </li>

        </ul>
    </div>

    <div class="index-1">
        <div class="container">
            <div class="tab-btn">
                <ul>
                    <li>求租求购</li>
                    <li>投放盘源</li>
                </ul>
            </div>
            <div class="tab-box">
                <p>16年行业服务经验,盘源多,免中介费</p>
                <a href="newDemand.html" class="btn">提交需求</a>
            </div>
        </div>
    </div>

    <div class="index-product">
        <div class="index-title">
            <h2>为您推荐</h2>
            <ul class="btn tab-btn">
                <li>厂房</li>
                <li>写字楼</li>
                <li>土地</li>
            </ul>
        </div>
        <!--厂房-->
        <div class="tab-box">
            <div class="product-list">
                <ul>
                    {foreach $workshop as $key=>$wsOne }
                        <li>
                            <a href="workshop/detail?id={$wsOne.id}">
                                <div class="img"><img src="{$wsOne.imgs}"
                                                    alt=""><em>{$wsOne.area_name}</em></div>
                                <div class="name">{$wsOne.title}</div>
                                <div class="label">
<!--                                    <span></span><span></span>-->
                                </div>
                                <div class="price"><span>{$wsOne.plantrent}元/㎡</span><em>{$wsOne.measurearea}㎡</em></div>
                            </a>
                        </li>
                    {/foreach}
                </ul>
            </div>
            <div class="p-more"><a href="/workshop/1">更多</a></div>
        </div>
        <!--写字楼-->
        <div class="tab-box">
            <div class="product-list">
                <ul>
                    {foreach $office as $off }
                    <li>
                        <a href="of_build/detail?id={$off.id}">
                            <div class="img"><img src="{$off.imgs}" alt=""><em>{$off.area_name}</em></div>
                            <div class="name">{$off.title}</div>
                            <div class="label">
<!--                                <span>1</span><span>3楼</span>-->
                            </div>
                            <div class="price"><span>{$off.plantrent}元/㎡</span><em>{$off.measurearea}㎡</em></div>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
            <div class="p-more"><a href="/of_build">更多</a></div>
        </div>
        <!--土地-->
        <div class="tab-box">
            <div class="product-list">
                <ul>
                    {foreach $land as $la }
                        <li>
                            <a href="/land/detail?={$la.id}">
                                <div class="img"><img src="{$la.imgs}" alt=""><em>{$la.area_name}</em></div>
                                <div class="name">{$la.title}</div>
                                <div class="label">
<!--                                <span>1</span><span>3楼</span>-->
                             </div>
                                <div class="price"><span>{$la.price}元/㎡</span><em>{$la.measurearea}㎡</em></div>
                            </a>
                        </li>
                    {/foreach}
                </ul>
            </div>
            <div class="p-more"><a href="/land">更多</a></div>
        </div>
    </div>

    <a href="javascript:;" class="topA"><img src="/static/mobile/image/homepage_icon_return_top.png" alt=""></a>
    <div class="g-foot">
        <div class="link"><a href="about.html">关于我们</a></div>
        <p>粤ICP备19115088号</p>
        <p>广东厂房网 版权所有</p>
        <p>东莞市众鑫房地产投资有限公司 版权所属</p>
    </div>
    <!--wal-END-->
</div>
</body>
</html>

<link rel="stylesheet" href="/static/mobile/script/swiper/swiper-3.4.2.min.css">
<script type="text/javascript" src="/static/mobile/script/swiper/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/static/mobile/script/js.js"></script>
<script type="text/javascript">
    $(function(){
        swiperFun({
            dom: $('.indexFlash')
        });

        new tabFun({dom: $('.index-1'), curr: 0});
        new tabFun({dom: $('.index-product'), curr: 0})
    })
</script>