<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit" />
    <title>{:config('web_site_title')}</title>
    <meta name="keywords" content="{:config('web_site_keywords')}"/>
    <meta name="description" content="{:config('web_site_description')}"/>

    <link rel="icon" href="/static/mobile/image/favicon.ico">
    <link href="/static/mobile/style/index.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/mobile/script/jquery-1.7.1.min.js"></script>
</head>

<body>
<div class="wal" id="app">
    <!--wal-->
    <div class="g-head g-head-2">
        <div class="wal">
            <a href="index.html" class="logo"></a>
            <a href="tel:0769-87819917" class="tel">0769-87819917</a>
        </div>
    </div>
    <div class="indexFlash">
        <ul class="swiper-wrapper">
            {foreach $adList as $ad}
                <li class="swiper-slide"><a href="{$ad.href}"><img src="{$ad.pic_path}" alt="{$ad.title}"></a></li>
            {/foreach}
        </ul>
        <div class="dots"></div>
    </div>

    <div class="index-search">
        <div class="form">
            <a href="/city_shift" class="select"><span>{$currentCity.name}</span></a>
            <div class="input"><input type="text" placeholder="请输入关键词进行搜索"></div>
            <div class="submit"><input type="button" value=""></div>
            <a href="javascript:;" class="search"></a>
        </div>
    </div>
    {include file="layout/search" /}
    {include file="layout/index-nav" /}

    <div class="index-1">
        <div class="container">
            <div class="tab-btn demand-commit">
                <ul>
                    <li style="width: 100%;">求租求购</li>
                </ul>
            </div>
            <div class="tab-box">
                <p>16年行业服务经验,盘源多,免中介费</p>
                <a href="/demand" class="btn">提交需求</a>
            </div>
        </div>
    </div>

    <div class="index-product">
        <div class="index-title">
            <h2>为您推荐</h2>
            <ul class="btn tab-btn">
                <li>厂房</li>
                <li>写字楼</li>
                <li>土地</li>
            </ul>
        </div>
        <!--厂房-->
        <div class="tab-box">
            <div class="product-list">
                <ul>
                    {foreach $workshop as $key=>$wsOne }
                        <li>
                            <a href="work_shop/detail?id={$wsOne.id}">
                                <div class="img"><img src="http://m.cfcs1688.com/{$wsOne.imgs}"
                                                    alt=""><em>{$wsOne.area_name}</em></div>
                                <div class="name">{$wsOne.title}</div>
                                <div class="label">
<!--                                    <span></span><span></span>-->
                                </div>
                                <div class="price"><span>{$wsOne.plantrent}元/㎡</span><em>{$wsOne.measurearea}㎡</em></div>
                            </a>
                        </li>
                    {/foreach}
                </ul>
            </div>
            <div class="p-more"><a href="/workshop/1">更多</a></div>
        </div>
        <!--写字楼-->
        <div class="tab-box">
            <div class="product-list">
                <ul>
                    {foreach $office as $off }
                    <li>
                        <a href="of_build/detail?id={$off.id}">
                            <div class="img"><img src="http://m.cfcs1688.com/{$off.imgs}" alt=""><em>{$off.area_name}</em></div>
                            <div class="name">{$off.title}</div>
                            <div class="label">
<!--                                <span>1</span><span>3楼</span>-->
                            </div>
                            <div class="price"><span>{$off.plantrent}元/㎡</span><em>{$off.measurearea}㎡</em></div>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
            <div class="p-more"><a href="/of_build">更多</a></div>
        </div>
        <!--土地-->
        <div class="tab-box">
            <div class="product-list">
                <ul>
                    {foreach $land as $la }
                        <li>
                            <a href="/land/detail?={$la.id}">
                                <div class="img"><img src="http://m.cfcs1688.com/{$la.imgs}" alt=""><em>{$la.area_name}</em></div>
                                <div class="name">{$la.title}</div>
                                <div class="label">
<!--                                <span>1</span><span>3楼</span>-->
                             </div>
                                <div class="price"><span>{$la.price}元/㎡</span><em>{$la.measurearea}㎡</em></div>
                            </a>
                        </li>
                    {/foreach}
                </ul>
            </div>
            <div class="p-more"><a href="/land">更多</a></div>
        </div>
    </div>

    {include file="layout/foot" /}
    <!--wal-END-->
</div>
</body>
</html>

<link rel="stylesheet" href="/static/mobile/script/swiper/swiper-3.4.2.min.css">
<script type="text/javascript" src="/static/mobile/script/swiper/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="/static/mobile/script/js.js"></script>
<script type="text/javascript">
    $(function(){
        swiperFun({
            dom: $('.indexFlash')
        });

        new tabFun({dom: $('.index-1'), curr: 0});
        new tabFun({dom: $('.index-product'), curr: 0})
    })
</script>
